.Profile-Format-Box {
    background-color: rgb(255, 252, 217);
    width: 420px;
    height: 700px;

    margin-top: 40px;
    margin-left: 120px;

    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.Name-Image-Box {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile-Image-Circle {
    cursor: pointer;
}

.Transparent-Background-Icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.Full-Name {
    color: rgb(72, 99, 14);
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 800;

    margin-top: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.Email {
    color: rgb(72, 99, 14);
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.ID-Box {
    background-color: rgb(72, 99, 14);
    height: 75px;
    width: 470px;

    margin-top: 20px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.ID-Title {
    color: rgb(255, 207, 80);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 28px;

    padding-bottom: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.ID-Number {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 25px;
}

.Notes-Box {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notes-Title {
    color: rgb(72, 99, 14);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    margin-bottom: 7px;
}

.Notes-Text-Area {
    background-color: transparent;

    width: 380px;
    height: 170px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;

    outline: none;
    box-shadow: inset 0 0 8px 2px rgba(72, 99, 14, 0.5);
}

.Current-Row-Box {
    margin-top: 15px;
    background-color: rgb(72, 99, 14);
    height: 50px;
    width: 470px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Arrow-Left-Button {
    background-color: transparent;
    margin-left: 5px;
    transform: rotate(180deg);
    margin-bottom: 1px;

    border: none;
    cursor: pointer;
}

.Arrow-Right-Button {
    background-color: transparent;
    border: none;

    margin-top: 5px;
    margin-left: 30px;
}

.Current-Row-Title {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.Row-Number {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 1px;
    padding-left: 40px;
}